@use '../helpers' as *;

.benefit{
    padding: rem(40) rem(25) rem(65);
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    position: relative;

    @include mobile{
        padding: rem(20) rem(15) rem(35);
    }

    &__title{
        color: var(--color-dark-70);
        padding-bottom: rem(18);
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: rem(150);
            height: rem(1);
            background-color: var(--color-accent-10);
            left: 0;
            bottom: 0;
        }
    }

    &__description{
        font-size: rem(14);

        @include mobile{
            font-size: rem(11);
        }
    }
}