@use '../helpers' as *;

.header{
    z-index: 5;
    &__overlay{
        .logo{
            width: rem(220);
            
            @include mobile{
                &__image{
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(274deg) brightness(107%) contrast(101%);
                }
            }
        }

        @include mobile{
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            row-gap: rem(55);
            padding: rem(50) rem(20) rem(50);
            color: var(--color-light);
            background-color: var(--color-dark);
            transition-duration: var(--transition-duration);

            &:not(.is-active){
                @include hide;

                translate: 100%;
            }
        }
    }

    &__promo{
        background-color: var(--color-dark);
        color: var(--color-light);
        padding-block: rem(17);
        font-size: 14px;

        // @include tablet{
        //     font-size: 13px;
        // }

        // @include mobile{
        //     display: contents;
        // }

        &-inner{
            display: flex;
            justify-content: space-between;
            row-gap: rem(10);

            // &.container{
            //     @include mobile{
            //         padding: 0;
            //     }
            // }
            // @include mobile{
            //     order: 3;
            //     flex-direction: column;
            //     align-items: flex-start;
            //     width: 100%;

                
            // }
        }
    }

    &__contacts{
        display: flex;
        column-gap: fluid(40, 20);

        &-mobile{
            display: flex;
            flex-direction: column;
            row-gap: rem(15);
        }
    }

    &__address,
    &__mail,
    &__phone{
        position: relative;
        padding-left: rem(30);

        &::before{
            content: '';
            position: absolute;
            width: rem(24);
            height: rem(24);
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: rem(24);
        }
    }

    &__address{
        &::before{
            background-image: url('./../icons/address.svg');
        }
    }

    &__mail{
        &::before{
            background-image: url('./../icons/mail.svg');
        }
    }

    &__phone{
        &::before{
            background-image: url('./../icons/tel.svg');
        }
    }

    &__body{
        &-inner{
            padding-block: rem(30);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__telegram-group{
        position: relative;
        padding-left: 30px;

        &::before{
            content: url('../../icons/telegram_group.svg');
            position: absolute;
            top: rem(2);
            left: 0;
        }
    }
}