@use '../helpers' as *;

.map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: rem(300);

    @include mobile{
        position: relative;
        width: 100%;

        iframe{
            height: 100%;
        }
    }
}