@use '../helpers' as *;

.section-banner{
    min-height: rem(690);
    background: var(--bgImg) center/cover no-repeat;
    color: var(--color-light);
    position: relative;

    @include flex-center;

    @include laptop{
        min-height: fluid(585, 580);
    }

    &::before{
        content: '';
        position: absolute;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        opacity: 0.35;
        inset: 0;
    }

    &__inner{
        @include flex-center;

        column-gap: 1rem;
        position: relative;
        z-index: 2;
    }

    &__block-title{
        width: rem(700);

        @include laptop {
            width: rem(570);
        }

        @include tablet{
            text-align: center;
        }

        @include mobile{
            width: rem(330);
        }
    }

    &__title{
        color: var(--color-light);
    }

    &__form{
        width: rem(454);
        color: var(--color-dark);

        // @include laptop{
        //     width: rem(380);
        // }
    }
}