/*  Шрифт 'Inter' */

/* Thin Italic 100*/
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Extra Light 300*/
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Extra Light Italic 300*/
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Regular 400*/
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500*/
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi-Bold 600*/
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



/*  Шрифт 'Lato' */

/* Light Italic 200*/
@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/lato/Lato-LightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Regular 400*/
@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/lato/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/lato/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*  Шрифт 'Montserrat' */

/* Thin Italic 100*/
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Regular 400*/
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500*/
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi-Bold 600*/
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*  Шрифт 'Nunito' */

/* Extra Light 300*/
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('../fonts/Nunito-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Extra Light Italic 300*/
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('../fonts/Nunito-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Regular 400*/
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('../fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500*/
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('../fonts/Nunito-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi-Bold 600*/
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('../fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/*  Шрифт 'Poppins' */

/* Thin Italic 100*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Extra Light 300*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Extra Light Italic 300*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Light Italic 200*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

/* Regular 400*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi-Bold 600*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



